.latest-match-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0f172a;
  width: 100%;
  margin-top: 20px;
}
.team-name-date {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-name {
  font-family: Bree Serif;
  font-size: 25px;
  color: white;
}
.date {
  font-family: Bree Serif;
  font-size: 20px;
  color: white;
}
.venue {
  font-family: Bree Serif;
  color: white;
  font-size: 15px;
}
.status {
  font-family: Bree Serif;
  color: white;
  font-size: 15px;
}
.team-logo {
  width: 150px;
}
.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .latest-match-card {
    flex-direction: column;
    justify-content: center;
  }
  .team-name {
    font-size: 15px;
  }
  .date {
    font-size: 10px;
  }
  .venue {
    font-size: 10px;
  }
  .status {
    font-size: 10px;
  }
  .team-logo {
    width: 100px;
  }
}
